{% extends 'index.html' %}
{% block title %}Noty | BlogPost{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
{% load humanize %}
<style>
img 
{
    height:400px;

}
</style>
<div class="container">
<br>
<img src="{{post.img.url}}">
<h2>Title:{{post.title}}</h2></br>
<h6>date:{{post.timestamp}}</h6></br>
<h3>content:{{post.content}}</h3></br>

</div>
<div class="container">
<h2>Comments({{comments.count}})</h2>
<div class="my-2">
{% if user.is_authenticated %}
<form method="post" action="/blog/postComment" class="row g-3">
{% csrf_token %}
  <div class="col-5 form-group">
    
    
      <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment">
  </div>
  <input type="hidden" name="postSno" value="{{post.Sno}}">
  <div class="col-auto">
    <button type="submit" class="btn btn-dark mb-3" value="Post">Post</button>
  </div>
</form>
{% else %}
<p>Please login to post a comment</p>
{% endif %}
</div>

{% for comment in comments  %}


<div class="row my-3">
<div class="col-md-1"><img src="../static/user.png" class="rounded mx-auto d-block w-100 h-100  border border-dark"></div>
<div class="col-md-11"><b>{{comment.user.username}}</b> <span class="badge bg-info text-dark"> {{comment.timestamp | naturaltime}} </span>
<div class="my-3">{{comment.comment}}</div>


</div>

{% endfor %}




</div>
{% endblock body %}